{
    "presets": [
        [
            "env",
            {
                "loose": true,
                "modules": false
            }
        ],
        "react",
        "babel-preset-stage-0", 
        "babel-preset-stage-3"
    ]
}