ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
}

.clearfix {
    zoom: 1;
}

.clearfix::after {
    visibility: hidden;
    display: block;
    clear: both;
    content: " ";
    height: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}